
<button (click)="isShowing= !isShowing">
    
<!-- <span *ngIf="!isShowing">show</span>
<span *ngIf="isShowing">hide</span> -->
<!-- but i dont want to show span or any other elemenet inside button -->
<ng-container *ngIf="!isShowing">show</ng-container>
<ng-container *ngIf="isShowing">hide</ng-container>
</button>

<ul *ngIf="isShowing">
    <li>
        <img src="{{src}}" alt="{{name}}" width="100">
        {{name}} by {{author}}
    </li>
    <li>
        <img src="{{src2}}" alt="{{name2}}" width="100">
        {{name2}} by {{author}}
    </li>
    <li>
        <img src="{{src3}}" alt="{{name3}}" width="100">
        {{name3}} by {{author3}}
    </li>
</ul>
<!-- <input type="text" name="name" [(ngModel)]="textname">
<div>{{textname}}</div> -->